# highlighter: pygments
highlighter: rouge

markdown: redcarpet
redcarpet:
  extensions: ["no_intra_emphasis", "fenced_code_blocks", "autolink", "tables", "with_toc_data"]
# markdown: kramdown
# kramdown:
#     input: GFM
#     syntax_highlighter: rouge

gems: [jekyll-paginate]
paginate: 7
paginate_path: "page:num"
layout: post
permalink: /:categories/:title
excerpt_separator: "[-----]"

# mode: dev
mode: product
url: https://rookiecodeccw.github.io/
devurl: http://localhost:4000/
name: sodoi
title: sodoi | Another yet unique freak is showing a freakshow
description: "wangcongcong's personal weblog, on coding or such stuff"

my:
    displayName: SoDoI
    realName: wangcongcong
    realName_cn: 王聪聪
    jobTitle: "PHP Coder"
    contact:
        qq: 744910240
        email: congcongwang@139.com
        github: https://github.com/rookieCodeCCW
        qzone: null
        pinterest: null
        tel: 17348877991
        address:
            country: China
            state: zhejiang
            city: hangzhou
            distribute: null
            postcode: 000000
            cell: "sodoi"
    skills:
        frontend: ["HTML | Markdown", "CSS | SASS", "JS | jQuery", "Bootstrap"]
        backend: ["PHP", "MySQL", "Redis", "Regex", "Laravel", "OSC"]
        tools: ["Sublime Text", "Git | Github", "Linux", "Jekyll | Liquid"]

collections:
    qqGroupGuide:
        output: true

defaults:
  - scope:
        path: ""
        type: "posts"
    values:
        excerpt: "{{ page.content }} | slice: 0 300"
  - scope:
        path: ""
        type: "qqGroupGuide"
    values:
        layout: markdownreader_bare
